#diploma{
  .ui-content{
    background-image: url("../images/diploma-bg.jpg");
    background-size: 100% 100%;
    padding: 60% 18% 0 20%;
    line-height: 150%;
    height: 30em;
  }
  span{
    font-family: KaiTi;
    text-decoration:underline;
  }
  #rank{
    font-family: 'Î¢ÈíÑÅºÚ','Helvetica Neue',arial,Lato,sans-serif;
    text-decoration:none;
  }
}