#schoolmaster{
  height:100%;
  background-image:url(../images/schoolmaster/bg.jpg) ;
  background-size: cover;
  background-position: center center;
  .content{
    width: 70%;
    height: auto;
    left: 10%;
    top: 34.5%;
    z-index: 0;
    position: absolute;
    background-color: #FFFFFF;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    font-size: 1rem;
    opacity: 1;
    padding: 1rem;
  }
  .footer {
    width: 100%;
    font-size: 4vw;
    bottom: 2em;
    margin-left: -1em;
    position: absolute;
    text-align: center;
    color: white;
  }
}