#cat-list-btn{
    font-size: 12px;
    position: absolute;
    z-index: 2;
    top: 9px;
    left: 9px;
    line-height: 35px;
    padding: 0 10px;
    width: 50px;
    text-align: center;
}
.u-btn {
    background-color: rgb(232, 232, 232);
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
}
.u-btn:active{
    opacity: .6;
}
#startpage .v-input-search>div{
    //padding-left: 4em;
    //padding-bottom: 0;
    //padding-top: 0;
}
#cat-menu {
    top: 46px;
    font-size: 14px;
    position: absolute;
    z-index: 103;
    width: 120px;
    border: 1px solid #D8D8D8;
    border-width: 0 1px 1px 1px;
    left: 8px;
    border-radius: 3px;
}

#cat-menu li{
    margin-top: -2px;
}
.slide-txt {
    font-size: 14px;
    padding-left: 5px;
    text-align: left;
    box-sizing: border-box;
    color: #fff;
    bottom: 4px;
    position: absolute;
    width: 100%;
    max-width: 100%;
    background-color: rgba(0,0,0,0.4);
}
#filter-shortcut {
    padding-right: 68px;
    padding-left: 10px;
    color: #737373;
}
#home-search-btn,#home-clear-btn  {
    background-color: rgba(0,0,0,0);
    width: 30px;
    height: 35px;
    position: absolute;
    display: inline-block;
    top: 9px;
    right: 8px;
}
#startpage .ui-input-clear{
    right: 30px;
    border-width: 1px;
    z-index: 9;
    background-color: rgb(208, 208, 208);
}
.start-course,.start-market,.start-activity {
    width: 60%;
    height: 70px;
    .start-cat-content{
        padding-left: 40px;
        background-color: #ff5761;
        &:before{
            left: 10px;
            position: absolute;
            width:50px;
            height: 70px;
            background-image: url(../images/startPage/course.png);
        }
        .start-cat-intro{
            font-size: 12px;
        }
        .start-cat-title{
            padding-top: 15px;
        }
    }
}
.start-cat {
    padding: 5px;
    display: inline-block;
    position: absolute;
    padding-left: 8px;
}
.start-cat-content{
    height: 100%;
    border-radius: 8px;
    text-align: center;
    color: white;
    &:before{
        content: '';
        position: absolute;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .start-cat-intro{
        font-size: 12px;
    }
}
.start-job,.start-question{
    width: 30%;
    height: 145px;
    right: 5px;
    .start-cat-title{
        padding-top: 70px;
    }
    .start-cat-content{
        background-color: #ff33ff;
        &:before{
            position: absolute;
            width:100%;
            top:25px;
            left:0;
            height: 40px;
            background-image: url(../images/startPage/job.png);
            //background-image: url(../images/startPage/crowdfunding.png);
        }
    }
}
.start-job{
    left: 60%;
    margin-left: 10px;
}
.start-question{
    left:5px;
    right:auto;
    margin-top: 75px;
    .start-cat-content{
        background-color: #158fff;
        &:before{
            background-image: url(../images/startPage/question.png);
        }
    }
}
.start-market {
    width: 28%;
    margin-top: 75px;
    left: 32%;
    margin-left: 5px;
    .start-cat-content{
        padding-left: 35px;
        background-color: #fde200;
        &:before{
            left:5px;
            background-image: url(../images/startPage/market.png);
        }
        .start-cat-title{
            padding-top: 10px;
        }
    }
}
.start-activity{
    margin-top: 150px;
    left: 32%;
    margin-left: 5px;
    .start-cat-content{
        background-color: #12cd18;
        padding-left: 0;
        padding-right: 40px;
        &:before{
            left:auto;
            right:20px;
            background-image: url(../images/startPage/activity.png);
        }
    }
}
.start-cat-intro {
    margin-top: 5px;
}
.start-cats {
    padding: 5px;
    height: 230px;
}
#startpage {
    .ui-input-search{
        border-color: #3498db;
    }
    .svr {
        padding-left: 100px;
        //border-radius: ;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        font-size: 12px;
        &:first-child{/*
            border-top: 1px solid #ddd;*/
        }
    }
  .svr .img_wrap{
    position: absolute;
    left:10px;

    height:50px;
    overflow: hidden;
      div{
      width:80px;
      display: table-cell;
      vertical-align:middle;
      text-align: center;
    }
  }
    .svr img{
      max-height: 50px;
      max-width: 80px;
      border:none;
      vertical-align:middle;
    }
    .price-color{
        color: #57b1d6;
    }
    .imgSliderBtns{
        background-color: transparent;
    }
    .s-title{
        font-size: 14px;
        color: #727272;
        //line-height: 32px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        //padding-right: 100px;
    }
    .s-content {
        color: #a2a2a2;
        line-height: 1.4;
        //height: 66px;
        //margin-top: -50px;
        //position: absolute;
    }
    .newlyPosted{
        background-color: #fff;
      padding-left: 14px;
      font-size: 14px;
      margin: 10px 0;
        >img{
          vertical-align: middle;
          border:none;
          font-size: 14px;
          width:4.8em;
        }
        >em{
            display: inline-block;
            height: 14px;
            background-color: #ddd;
            width: 1px;
            vertical-align: middle;
        }
        >span:nth-child(3){

            display: inline-block;
            vertical-align: middle;
            width: 65%;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            >span{
                color: #53a3e3;
              border-radius: 5px;
                border: 1px solid #53a3e3 ;
              padding:0 4px;
                display:inline-block;
              line-height: 14px;
              height:14px;
              font-size: 12px;
                margin-right: .7em;
            }
        }
    }
  .around_sear_logo img{
    vertical-align: middle;
    border:none;
    width:100%;
    margin-top:10px;
  }
}
.icon{
    display: inline-block;
    width: 1.5em;
    height: 1em;
    text-align: left;
    &:before{
        content: '';
        margin-top: -.25em;

        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &.icon-watch:before {
        background-image: url(../images/watch-num.png);
        width: 1em;
        height: 1em;
        margin-top: .1em;
    }
}
.s-center-cat .icon-btn {
    background-color:#ffaf2c;
}
.s-center-cat {
    position: absolute;
    margin-top: 30px;
    height: 110px;
    width: 80px;
    left: 50%;
    margin-left: -40px;
}
.s-center-cat .icon-btn{
    width: 90px;
    height: 90px;
    padding: 0;
    border-radius: 50%;
    font-size: 16px;
    left: 50%;
    margin-left: -50px;
    line-height: 120px;
    position: absolute;
    &,&:hover,&:visited{
        border: 5px solid #fff;
        color: #fff;
    }


}
$opacity-time:.1s;
.catSvrs{
  margin:10px 0;
}
.catSvr{
  text-align: center;
  img{
    width:60%;
  }
  span{
    font-size: 12px;
    color:#626060;
   /* #626060*/
    display:block;
  }
}
#startpage {
    .s-center-cat .icon-btn,
    .catSvr{
        -webkit-transition: opacity $opacity-time;
        -moz-transition: opacity $opacity-time;
        -ms-transition: opacity $opacity-time;
        -o-transition: opacity $opacity-time;
        transition: opacity $opacity-time;
        &:active{
            opacity: .6;
        }
    }
}
.s-center-cat .icon-btn:before{
    top:20px;
    position:absolute;
    width:100%;
    left:0;
}